<section class="users">
  <% @users.each do |user|%>
    <%= link_to user_path(user) do %>
      <div class="user_card">
        <%= image_tag(user.photo, alt: "Image", class: "user_img")%>
        <div class="user_info">
          <p class="user-name"><%= user.email %></p>
          <p class=""><%= user.name %></p>
          <p class=""><%= user.bio %></p>
          <p><%= user.posts_counter %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
