<section class="posts">
  <div class="post-card">
    <h3><%= @post.title %></h3>
    <p><%= @post.text %></p>
    <div class="comment">
      <%= form_with(model: @like, url: likes_path, method: :post, local: true) do |f| %> 
      <%= f.submit "Like" %> 
      <% end %>
      <p>Likes: <%= @post.likes.length %></p>
      <%= link_to comments_path do %>
      <p class="comment-text">Comments: <%= @post.comments.length %></p>
      <% end %>
    </div>
  </div>
  <%= link_to "Back", :back , class: "back_btn" %>
</section>
