<section>
  <div>
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
    <%= form_with(model: @like, url: likes_path, method: :post) do |f| %>
      <%= f.submit "Like", class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'comments', comments_path %>
  </div>
  <%= link_to "Back", posts_path %>
</section>
